body{
background-color:#F6F9FF;
display:table;
}


.loading{
left:200px !important;
top:210px !important;
}

.gwt-Button 
{ 
font-size: 13px;
background-color: #3366CC; 
color: black; 
font-weight: bold; 
border: 1px solid #AACCFF;
font-family:arial,sans-serif;
width : 75px;
} 

.row{
background-color: #F0F8FF;

}

.image{
background-color:  #f7d8a9 !important; 
padding: 3px;
border: 1px solid #6f3d29;
}


.errorMessage{
color: Red;
}
