.gwt-TabPanelBottom {
padding:3px;
}

.gwt-TextBox {
padding:4px;
width: 85%;
}

.gwt-Button 
{ 
font-size: 13px;
background-color: #3366CC; 
color: black; 
font-weight: bold; 
border: 1px solid #AACCFF;
font-family:arial,sans-serif;
} 

.gwt-Image { 
cursor: pointer;
cursor: hand;
}

.gwt-DialogBox .Caption {
background: #00BFFF;
background-color: #00BFFF;
color: black;
font-weight: bold;
padding: 5px 10px 5px 10px;
cursor: move;
font-size: 14px;
}
.gwt-Anchor:link,.gwt-Anchor:visited{
text-decoration:none; }

.gwt-Anchor:hover{
text-decoration:underline;
color:#224499;
}

.gwt-Anchor:active{
text-decoration:none;
}

.gwt-Anchor{
color:#224499;
}

.gwt-UnorderedList{
list-style-position:inside;
padding:1px 10px 1px 10px !important;
margin:0px !important; 
}

.gwt-MenuItem {
cursor:hand;
cursor:pointer;
color:#0000FF;
padding:2px 10px;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
padding:0px 5px;
}

.gwt-MenuItem-selected {
cursor: pointer;
}


body, table td, select {
font-family:arial,sans-serif;
font-size: 13px;
}

.inactiveRow {text-decoration:line-through !important;}
.dueColumn{
color : green;
cursor: pointer;
cursor: hand;
}

.chatTextArea{
width : 70%;
height : 25px;
}

.messageLabel {
width : 90%;
height : 30px;
background-color:#FFFFCC;
border:1px solid #FFCC35;
color:#000000;
font-size:13px;
font-weight:bold;
padding:3px 15px 3px 10px;
text-align:center;
overflow-y:auto;
}

.tabsPanel{
width : 100%;
height : 400px;
margin:0px;
}

.Panel{
width : 100%;
height : 350px;
}

.buttonPanel{
width : 100%;
height : 25px;
}
.Button{
width : 100px;
height : 25px;
font-size: 13px;
}

.TableHeader{
font-weight:bold;
table-layout:fixed;
width : 100%;
height : 25px;
text-align:left;
}

.ScrollPanel{
width : 100%;
height : 300px;
}

.ShortScrollPanel{
width : 100%;
height : 279px;
}

.Table{
table-layout:fixed;
text-align:left;
width: 100%;
}

.Table td{
overflow:hidden;
                                       /* border-top: 1px solid #00BFFF; */
}

.eventListRow{
border-top: 1px solid #00BFFF;
}

.changeSumMoneyBox{
width: 50%;	
}

.Label{
height: 19px;
overflow: hidden;
text-align: center;
}

.polaniPanel{
background-color:#FFFFCC;
border:1px solid #FFCC35;
}

.chatPanel{
width:100%;
height:325px;
}

.rightChatPanel {
border-color:#D0E4F6;
border-style:solid;
height:264px;
padding:3px 4px;
width:87%;
}


.chatParticipators{
height:22px;
text-align:left;
font-weight:bold;
}

.sendButton{
width : 25%;
height : 25px;
}

.chatLineDate {
background-color:#D0E4F6;
}


.errorMessage {
color: Red;
}

.emailGrid{
    background-color: #FFFFCC;
    table-layout: fixed;
   
}

.emailActualPrice{
 background-color: #9FCBEF;
}

.emailTextArea{
background-color: white;
}

/*
tr.row{
border: 1px solid black;
}
*/