.gwt-Button 
{ 
background-color: #3366CC; 
color: black; 
font-weight: bold; 
border: 1px solid #AACCFF; 
} 

.tables
{
width: 100%;
height: 100%;
table-layout:fixed;
/* border-collapse:collapse; */
}

.tablesColumns
{
background-color: #00BFFF; 

}

.tablesRows
{
background-color: white; 
}

