.gwt-Image { 
cursor: pointer;
  cursor: hand;
border: 1px ;
}

.gwt-Image:hover {
  border-color: #9cf #69e #69e #7af;
}


.errorMessage {
  color: Red;
}

.gwt-Button 
{ 
background-color: #3366CC; 
color: black; 
font-weight: bold; 
border: 1px solid #AACCFF; 
} 

.tables
{
width: 100%;
height: 100%;
table-layout:fixed;
/* border-collapse:collapse; */
}

.tablesColumns
{
background-color: #00BFFF; 

}

.tablesRows
{
height: 20px;
background-color: white;
}

.lastColumns
{
width: 25px;
}

.tabsPanel
{
height: 350px;
overflow: scroll;
}