.tabsPanel{
border: 1px dashed red;
width : 100%;
height : 400px;
}


.Panel{
//position:relative;
//border-style:solid;
//border-width:1px;
//border-color:#B0E0E6;
width : 100%;
height : 350px;
}

.buttonPanel{
width : 100%;
height : 25px;
}
.Button{
width : 100px;
height : 25px;
}

.TableHeader{
table-layout:fixed;
width : 100%;
height : 25px;
text-align:left;
}

.ScrollPanel{
width : 100%;
height : 300px;
}

.ShortScrollPanel{
width : 100%;
height : 275px;
}

.Table{
table-layout:fixed;
width : 100%;
text-align:left;
}

.eventRadioButton{
width : 16px;
}

.Label{
width : 100%;
height : 25px;
text-align:center;
}

.chatPanel{
width : 100%;
height : 325px;
}
.chatTextArea{
width : 70%;
height : 25px;
}

.sendButton{
width : 25%;
height : 25px;
}

.chatLineDate{
background-color:#FFEFD5;
}



.gwt-Button 
{ 
background-color: #3366CC; 
color: black; 
font-weight: bold; 
border: 1px solid #AACCFF;
font-family:arial,sans-serif;
} 

.gwt-Image { 
cursor: pointer;
cursor: hand;
}

.errorMessage {
  color: Red;
}

.gwt-DialogBox .Caption {
        background: #00BFFF;
        background-color: #00BFFF;
        color: black;
        font-weight: bold;
        padding: 5px 10px 5px 10px;
        cursor: move;
        font-size: 14px;
}

body, table td, select {
font-family:arial,sans-serif;
font-size:small;
}

{
border: 1px dashed red;
padding: 3px;

}

TD {
 border: 1px dashed green; 
}

TABLE {
border: 1px dashed blue; 
}


/*
Event Tab
Panel - > Buttons -> TableHeder->ScrollPanel ->Table
*/

/*
Friend wishlist
Panel -> title Label ->Button->Header->ShortScrollPanel
*/

/*
MyWishlist tab
Panel -> Button - > TableHeader - >ScrollPanel -> Table 
*/

/*
I buy tab
Panel : Panel -> TableHeader ->  ScrollPanel - >Table
          Panel ->  Panel ->  Label -> ScrollPanel -> Table -> chatTextArea - >Button
                       Panel ->  Label -> TableHeader -> ShortScrollPanel -> Table -> Button
*/         


