.tabsPanel{
border: 1px dashed red;
width : 100%;
height : 400px;
}

/*event tab*/

.mainPanel{
width : 100%;
height : 350px;
}

.eventPanel{
position:relative;
border-style:solid;
border-width:1px;
border-color:#B0E0E6;
width : 100%;
height : 350px;
}

.buttonAddEvent{
width : 100px;
height : 25px;
}

.eventTableHeader{
table-layout:fixed;
width : 100%;
height : 25px;
text-align:left;

}

.eventScrollPanel{
width : 100%;
height : 300px;
}

.eventTable{
table-layout:fixed;
width : 100%;
text-align:left;

}



/*FRIEND WISHLIST*/

.wishlistFriendPanel{
border: 1px dashed black;
width : 100%;
height : 350px;
}

.titleLabel{
width : 100%;
height : 25px;
}

.closeButton{
width : 100px;
height : 25px;
}

.headerFriendWishTable{
table-layout:fixed;
width : 100%;
height : 25px;
text-align:left;
}

.friendScrollPanel{
width : 100%;
height : 275px;
}

.friendWishTable{
table-layout:fixed;
width : 100%;
text-align : left;
}

/*my wishlist tab*/
.myWishlistPanel {
width : 100%;
height : 350px;
}

.addItemButton{
width : 100%;
height : 25px;
}

.myWishlistTableHeader{
table-layout:fixed;
width : 100%;
height : 25px;
text-align:left;
}

.myWishlistScrollPanel{
width : 100%;
height : 300px;
}

.wishTable{
table-layout:fixed;
width : 100%;
text-align : left;
}

/*I BUY TAB*/

.iBuyPanel{
width : 100%;
height : 350px;
}

.iBuyWishlistPanel {
width : 100%;
height : 350px;
}


.iBuyTableHeader{
table-layout:fixed;
width : 100%;
height : 25px;
text-align : left;
}

.iBuyScrollPanel{
width : 100%;
height : 300px;
}

.iBuyWishTable{
table-layout:fixed;
width : 100%;
text-align : left;
}

.chatPanel{
width : 100%;
height : 350px;
}

/*chat*/
.chatLeftSidePanel{
border: 1px dashed red; 
width : 100%;
height : 350px;
}

.chatRightSidePanel{
border: 1px dashed green; 
width : 100%;
height : 350px;
}

.chatLabel{
width : 100%;
height : 25px;
}

.chatScrollPanel{
width : 100%;
height : 300px;
}

.chatTable{
table-layout:fixed;
width : 100%;
text-align : left;
}

.chatTextArea{
width : 70%;
height : 25px;
}

.sendButton{
width : 25%;
height : 25px;
}

.participatorsLabel{
width : 100%;
height : 25px;
}

.chatParticipatorsTableHeader{
table-layout:fixed;
width : 100%;
height : 25px;
text-align : left;
}

.participatorsScrollPanel{
width : 100%;
height : 275px;
}

.chatParticipatorsTable{
table-layout:fixed;
width : 100%;
text-align : left;
}

.chatLineDate{
background-color:#FFEFD5;
}

.closeChatButton{
width : 100%;
height : 25px;
}

.gwt-Button 
{ 
background-color: #3366CC; 
color: black; 
font-weight: bold; 
border: 1px solid #AACCFF;
font-family:arial,sans-serif;
} 

.gwt-Image { 
 cursor: hand;

}


.errorMessage {
  color: Red;
}

.gwt-DialogBox .Caption {
        background: #00BFFF;
        background-color: #00BFFF;
        color: black;
        font-weight: bold;
        padding: 5px 10px 5px 10px;
        cursor: move;
        font-size: 14px;
}

body, table td, select {
font-family:arial,sans-serif;
font-size:small;
}

{
border: 1px dashed red;
padding: 3px;

}

TD {
 border: 1px dashed green; 
}

TABLE {
border: 1px dashed blue; 
}


