.gwt-TabPanelBottom {
padding:1px;
}

.gwt-TextBox {
padding:4px;
width: 85%;
}

.gwt-Button 
{ 
font-size: 13px;
background-color: #3366CC; 
color: black; 
font-weight: bold; 
border: 1px solid #AACCFF;
font-family:arial,sans-serif;
} 

.gwt-Image { 
cursor: pointer;
cursor: hand;
}

.gwt-DialogBox .Caption {
color: black;
font-weight: bold;
padding: 5px 10px 5px 10px;
cursor: move;
font-size: 14px;
}
.gwt-Anchor:link,.gwt-Anchor:visited{
text-decoration:none; }

.gwt-Anchor:hover{
text-decoration:underline;
color:#224499;
}

.gwt-Anchor:active{
text-decoration:none;
}

.gwt-Anchor{
color:#224499;
}

.gwt-UnorderedList{
list-style-position:inside;
padding:5px 0px!important;
margin:0px !important; 
}

/*
										.gwt-MenuItem {
										cursor:hand;
										cursor:pointer;
										color:#0000FF;
										padding:2px 10px;
										}
										
										.gwt-MenuBar-horizontal .gwt-MenuItem {
										padding:3px 10px;
										}
										
										.gwt-MenuBar .gwt-MenuItem-selected {
										cursor:pointer;
										font-weight: bold;
										}
*/

body, table td, select {
font-family:arial,sans-serif;
font-size: 13px;
}

.inactiveRow {text-decoration:line-through !important;}
.dueColumn{
color : green;
cursor: pointer;
cursor: hand;
}


.messagePanel{
width : 100%;
height : 24px;
border:1px solid #FFCC35 ;
padding:0px; 
}


.messageLabel {
width : 95%;
height : 35px;
background-color:#FFFFCC;
border:1px solid #FFCC35;
color:#000000;
font-size:13px;
font-weight:bold;
padding:3px 5px 3px 5px;
text-align:center;
overflow-y:auto;
margin : 0px;
}

.tabsPanel{
width : 100%;
height : 445px;
margin:0px;
}


.mainPanel {
width : 100%;
height : 410px !important;

}
.Panel{
width : 100%;
height : 350px;
margin:0px;
padding :0px;
}
/*
													.buttonPanel{
													width : 99%;
													height : 25px;
													}
*/

.Button{
width : 100px;
height : 25px;
font-size: 13px;
}

.TableHeader{
font-weight:bold;
table-layout:fixed;
width : 100%;
height : 25px;
text-align:left;
}

.ScrollPanel{
width : 100%;
height : 300px;
}

.ShortScrollPanel{
width : 100%;
height : 275px;
}


/*money dialog box*/
.helpMessage{
margin:0px 0px 10px 1px; 
background-color: #FFFFCC;
border:1px solid #FFCC35 ;
padding:5px 5px 5px 5px; 
text-align:left;
color : #224499;

}

.amountLabel{
border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #FFCC35 ;
 background-color: #FFFFCC;
color:#224499;

}

.amount{
border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #FFCC35 ;
 background-color: #FFFFCC;
color:#224499;
}

.Table{
table-layout:fixed;
text-align:left;
width: 100%;
}

.Table td{
overflow:hidden;
 border-bottom:1px solid #00BFFF;    
}

.changeSumMoneyBox{
width: 50%;	
}

.Label{
height: 19px;
overflow: hidden;
text-align: center;
}

.polaniPanel{
background-color:#FFFFCC;
border:1px solid #FFCC35;
}

.chatPanel{
width:100%;
height:325px;
}




.chatLineDate {
background-color:#D0E4F6;
}


.errorMessage {
color: Red;
}

.emailGrid{
    background-color: #FFFFCC;
    table-layout: fixed;
   
}

.emailActualPrice{
 background-color: #9FCBEF;
}

.emailTextArea{
background-color: white;
}



.buttonPanel
{
    border                      :   1px solid #FFFFFF;
    margin                      :   0 auto;
    background-color            :   #eee;
    font-size                   :   70%;
    padding                     :   0px;
}
.buttonPanel table
{
    border-collapse             :   separate;
    border                      :   1px solid #00f;
    background-color            :   #ddd;
}
.buttonPanel .gwt-MenuItem
{

    cursor                      :   hand;
    cursor                      :   pointer;

    border                      :   1px solid #999;
    background-color            :   #eee;
    padding                     :   2px 10px;
}
.buttonPanel .gwt-MenuItem-selected
{
    background-color            :   #fff;
}

.gwt-MenuBar-horizontal
{
    background: white;
}

/*Wellcome panel*/

.wellcomePanel{
padding:4px 2px 4px 2px;
}



.wellcomePanelPart{

background-color: #DDEEFF;
margin :0px;
padding-bottom:2px;
padding-left:2px;
padding-right:2px;
padding-top:2px;
}