<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->  
  <servlet>
    <servlet-name>eventServlet</servlet-name>
    <servlet-class>com.tau.birthdayplus.server.EventServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>eventServlet</servlet-name>
    <url-pattern>/birthdayplus/event</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>wishlistServlet</servlet-name>
    <servlet-class>com.tau.birthdayplus.server.WishlistServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>wishlistServlet</servlet-name>
    <url-pattern>/birthdayplus/wishlist</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>profileServlet</servlet-name>
    <servlet-class>com.tau.birthdayplus.server.ProfileServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>profileServlet</servlet-name>
    <url-pattern>/birthdayplus/profile</url-pattern>
  </servlet-mapping>
  
 
 
  <servlet>
    <servlet-name>addWishlistItemServlet</servlet-name>
    <servlet-class>com.tau.birthdayplus.server.AddWishlistItem</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>addWishlistItemServlet</servlet-name>
    <url-pattern>/birthdayplus/addWishlistItem</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.tau.birthdayplus.server.LoginService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/birthdayplus/login</url-pattern>
  </servlet-mapping>
  
  
 <servlet>
 <servlet-name>cronJobs</servlet-name>
 <servlet-class>com.tau.birthdayplus.cron.cronJobs</servlet-class>
 </servlet>

<servlet-mapping>
 <servlet-name>cronJobs</servlet-name>
 <url-pattern>/birthdayplus/cron/delete</url-pattern>
 </servlet-mapping>
 
 
 <servlet>
  <servlet-name>addEventServlet</servlet-name>
  <servlet-class>com.tau.birthdayplus.server.AddEventServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>addEventServlet</servlet-name>
  <url-pattern>/_ah/mail/event@birthdayplus.appspotmail.com</url-pattern>
</servlet-mapping>


<security-constraint>
  <web-resource-collection>
    <url-pattern>/_ah/mail/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
    <role-name>admin</role-name>
  </auth-constraint>
</security-constraint>
  
  
  
 
 
</web-app>
