body{
background-color:#F6F9FF;
}

.mainPanel{
position: absolute;
left: 50%;
top: 50%;
margin-left: -215px;
margin-top: -225px;
}

.loading{
position:relative;
left:50% !important;
top:50% !important;
margin-left:-15px;
margin-top:-15px;
}

.gwt-Button 
{ 
font-size: 13px;
background-color: #3366CC; 
color: black; 
font-weight: bold; 
border: 1px solid #AACCFF;
font-family:arial,sans-serif;
width : 75px;
} 

.row{
background-color: #F0F8FF;

}

.image{
background-color:  #f7d8a9 !important; 
padding: 3px;
border: 1px solid #6f3d29;
}


.errorMessage{
color: Red;
}
