<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->  
  <servlet>
    <servlet-name>eventServlet</servlet-name>
    <servlet-class>com.tau.birthdayplus.server.EventServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>eventServlet</servlet-name>
    <url-pattern>/birthdayplus/event</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>wishlistServlet</servlet-name>
    <servlet-class>com.tau.birthdayplus.server.WishlistServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>wishlistServlet</servlet-name>
    <url-pattern>/birthdayplus/wishlist</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>profileServlet</servlet-name>
    <servlet-class>com.tau.birthdayplus.server.ProfileServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>profileServlet</servlet-name>
    <url-pattern>/birthdayplus/profile</url-pattern>
  </servlet-mapping>
  
  
 
  
  
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Birthdayplus.html</welcome-file>
  </welcome-file-list>

</web-app>
